body{background: black; color: white;}
button{background:#555; border:none; margin:20px 10px 10px;}
.grid{border: 1px solid red; width:10px; height:10px; float: left;}
.row:after{
    content:"\000A";
    white-space: pre;
}
.row{height: 12px; }
.snake{background:#777;}
