body{background: black; color: white;}
button{background:#555; border:none; margin:20px 10px 10px;}
.red{border: 1px solid red; width:10px; height:10px; float: left;}
.yellow:after{
    content:"\000A";
    white-space: pre;
}
.yellow{height: 12px; }
.highlight{background: white; width:10px; height: 10px;}
